mixin preloader
	.preloader
		.pulse

mixin svg(className = '', id)
	svg(class= className)
		use(xlink:href=`assets/svg/sprite.svg#${id}`)

mixin hamburger(link)
	a(href="#"+link).hamburger.hamburger--emphatic
		span.hamburger-box
			span.hamburger-inner

mixin nav(className, activeItem, id,  mod= "")
	nav(class= className)
		+hamburger(id)
		ul(class= className + "__list" + mod id=id)
			each link, key in nav
				li(class=className+'__item' + ( (key == activeItem) ?  ' '+'active' : '')+ mod)
					a(href="#js-"+link class=className+"__link "+mod)= key


mixin Btn (titleText, mod = "")
	if (titleText == "Join Us")
		button(class= "btn "+ mod type="button") #{titleText}
	else
		a(href="#" class="btn " + mod) #{titleText}

mixin debug
	.debug
		div
			div
				- for (var i = 1; i <= 12; i++)
					div
