header(style=`background-image:url('${header.pathImg}')`).header#js-header
	.container
		.header-top
			.logo
				a(href="#" class="logo__link title-two") Logotype™
			+hamburger("header__nav")
			nav.nav#header__nav
				ul.nav__list
					each val in header.nav

						-if(typeof val !== "object")

							li.nav__item

								a(href="#" class= "nav__item-link title-three_white " + ((val === "Portfolio") ? "active" : ""))= val

						-else
							each arr, key in val
								li.nav__item.nav__item-menu
									span.nav__item-link.title-three_white= key
									ul.menu__list
										-for(let i = 0; i<arr.length; i++)
											li.menu__item
												a(href="#"
												class="menu__item-link ")= arr[i]

		.header-mid
			.header-mid__wrap
				.header-mid__title.title-one= header.title
				+Btn(header.btn, 'title-two btn_header')

		.header-bottom
			.header-bottom__text= header.bottomText


